{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<div class="collection-wrap first">

  {% if collection-list-item == 'linklist' %}
    {% assign collection = collections[link.handle] %}
  {% endif %}

  {% if collection.image %}
    {% assign imgSrc = collection.image.src %}
  {% else %}
    {% assign imgSrc = collection.products.first.featured_image %}
  {% endif %}

  <div
    class="collection"
    {%
      include 'rimg'
      img: imgSrc,
      size: '480x480',
      crop: 'center',
      background: true,
      lazy: true
    %}
  >
    {%
      include 'rimg'
      img: imgSrc,
      size: '480x480',
      crop: 'center',
      lazy: true
    %}

    <a href="{{ collection.url }}">
      <h2 class="label preload">{% comment %}ly_code_replace_for_[ collection.title ]_begin{% endcomment %}{% include 'ly-title' with collection %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</h2>
      <h2 class="browse">{% comment %}ly_i18n_replace_for_[ 'collections.collection.browse' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collections.collection.browse' | t }}{% endcapture %}{% include 'ly-static-string' with '9617097' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h2>
    </a>
  </div>
  <div class="rte clearfix">
    {% comment %}ly_code_replace_for_[ collection.description ]_begin{% endcomment %}{% include 'ly-description' with collection %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
  </div>
</div>
