{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<div class="main-header--tools tools clearfix">
  {% if headerFormat == 'expanded' %}{% include 'social-links' %}{% endif %}

  <div class="main-header--tools-group">
    <div class="main-header--tools-left">
      <div id="coin-container"></div>
      {% comment %}
        {% if settings.show-currency-switcher %}
          <div class="currency-switcher">
            <div class="selected-currency"></div><span class="drop-arrow"><</span>
            <select id="currencies" name="currencies">
              {% capture codes %},USD,EUR,GBP,CAD,ARS,AUD,BBD,BDT,BSD,BHD,BRL,BOB,BND,BGN,MMK,KYD,CLP,CNY,COP,CRC,HRK,CZK,DKK,DOP,XCD,EGP,XPF,FJD,GHS,GTQ,GYD,GEL,HKD,HUF,ISK,INR,IDR,NIS,JMD,JPY,JOD,KZT,KES,KWD,LVL,LTL,MXN,MYR,MUR,MDL,MAD,MNT,MZN,ANG,NZD,NGN,NOK,OMR,PKR,PYG,PEN,PHP,PLN,QAR,RON,RUB,SAR,RSD,SCR,SGD,SYP,ZAR,KRW,LKR,SEK,CHF,TWD,THB,TZS,TTD,TRY,UAH,AED,UYU,VEB,VND,ZMK,{% endcapture %}
              {% assign supported_codes = settings.currency-switcher-supported-currencies | escape | split: ' ' %}
              {% if shop.currency == "USD" %}
                {% assign lng = "EN" %}
                {% elsif shop.currency == "CNY" %}
                  {% assign lng = "中文" %}
              {% endif %}
              <option value="{{ shop.currency }}" selected="selected">{{ lng }}/{{ shop.currency }}</option>
              {% for code in supported_codes %}             
                {% if code != shop.currency and codes contains code %}
                {% if code == "USD" %}
                  {% assign lng = "EN" %}
                  {% elsif code == "CNY" %}
                    {% assign lng = "中文" %}
                {% endif %} 
                <option value="{{ code }}">{{ lng }}/{{ code }}</option>
                {% endif %}
              {% endfor %}
            </select>
             

            </div>
        {% endif %}
      {% endcomment %}
    {% comment %}
      {% include 'ly-languages-switcher' %}
    {% endcomment %}
  

    
 
          

      <a class="search" href="#">
        <span class="main-header--tools-icon">{% include 'icon' with 'search' %}</span>
        <label>{% comment %}ly_i18n_replace_for_[ 'general.search_placeholder' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.search_placeholder' | t }}{% endcapture %}{% include 'ly-static-string' with '9617130' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
      </a>

      {% include 'header-searchform' %}
    </div>

    <div class="main-header--tools-right">
      <div class="mini-cart-wrap" href="#">
        <span class="main-header--tools-icon">
          {% if cartIcon == "cart" %}
            {% include 'icon' with 'cart' %}
          {% else %}
            {% include 'icon' with 'bag' %}
          {% endif %}
        </span>
        <label><span class="item-count">{{ cart.item_count }}</span> {% comment %}ly_i18n_replace_for_[ 'layout.header.item_count' | t: count: cart.item_count ]_begin{% endcomment %}{% if cart.item_count  == 0 %}{% capture ly_template %}{{ 'layout.header.item_count' | t: count: cart.item_count }}{% endcapture %}{% include 'ly-static-string' with '9617132' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = cart.item_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif cart.item_count  == 1 %}{% capture ly_template %}{{ 'layout.header.item_count' | t: count: cart.item_count }}{% endcapture %}{% include 'ly-static-string' with '9617131' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = cart.item_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif cart.item_count  == 2 %}{% capture ly_template %}{{ 'layout.header.item_count' | t: count: cart.item_count }}{% endcapture %}{% include 'ly-static-string' with '9617132' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = cart.item_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% else %}{% capture ly_template %}{{ 'layout.header.item_count' | t: count: cart.item_count }}{% endcapture %}{% include 'ly-static-string' with '9617132' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = cart.item_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
        <div class="mini-cart {% if shop.customer_accounts_enabled %}account-enabled{% endif %} {% if cart.items.size == 0 %}empty-cart{% endif %}">
          <div class="arrow"></div>
          <div class="mini-cart-items-wrap">

              <p class="no-items">{% comment %}ly_i18n_replace_for_[ 'layout.header.no_items' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.header.no_items' | t }}{% endcapture %}{% include 'ly-static-string' with '9617135' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>

              {% for item in cart.items %}
              <div id="item-{{ item.id }}" class="item clearfix">
                <div class="image-wrap">
                  {%
                    include 'rimg'
                    img: item.image,
                    alt: item.product.title,
                    size: '100x100',
                    lazy: true
                  %}

                  <a class="{% if imageBorders %}overlay{% endif %}" href="{{ item.url }}"></a>
                </div>
                <div class="details">
                  {% comment %}
                  {% if brandNames %}
                    <p class="brand">{{ item.vendor | link_to_vendor }}</p>
                  {% endif %}
                  {% endcomment %}
                  <p class="title"><a href="{{ item.url }}">{% comment %}ly_code_replace_for_[ item.product.title ]_begin{% endcomment %}{% include 'ly-title' with item.product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a><span class="quantity">× <span class="count">{{ item.quantity }}</span></span></p>
                  <p class="price"><span class="money">{{ item.line_price | money }}</span></p>
                  {% unless item.variant.title == 'Default Title' %}<p class="variant">{% comment %}ly_code_replace_for_[ item.variant.title ]_begin{% endcomment %}{% include 'ly-title' with item.variant %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</p>{% endunless %}
                  {% if item.properties %}
                    {% for property in item.properties %}
                      {% unless property.last == blank %}
                        <p class="property">
                          <span class="property-label">{{ property.first }}:</span>
                          {% if property.last contains '/uploads/' %}
                            <a class="property-image" href="{{ property.last }}">{{ property.last | split: '/' | last }}</a>
                          {% else %}
                            <span class="property-value">{{ property.last }}</span>
                          {% endif %}
                        </p>
                      {% endunless %}
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
              {% endfor %}
          </div>
          <div class="options clearfix">
            <a class="action-button view-cart desaturated" href="/cart">{% comment %}ly_i18n_replace_for_[ 'layout.header.view_cart' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.header.view_cart' | t }}{% endcapture %}{% include 'ly-static-string' with '9617136' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>

            {% comment %}

            <input class="action-button" type="submit" name="checkout" value="{% comment %}ly_i18n_replace_for_[ 'cart.submit' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.submit' | t }}{% endcapture %}{% include 'ly-static-string' with '9617033' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" />

            {% endcomment %}

            {% comment %}
            
            <a class="action-button checkout" href="/checkout{% comment %}ly_checkout_begin{% endcomment %}{% assign language = cart.attributes["language"] %}{% if language == nil %}{% assign language = shop.metafields["languages"]["default"] %}{% endif %}{% assign checkout_code = shop.metafields.language_codes[language] %}{% if checkout_code %}{% assign checkout_code = '?locale=' | append: checkout_code %}{{ checkout_code }}{% endif %}{% comment %}ly_checkout_end{% endcomment %}">{% comment %}ly_i18n_replace_for_[ 'layout.header.checkout' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.header.checkout' | t }}{% endcapture %}{% include 'ly-static-string' with '9617137' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
{% endcomment %}
          </div>
        </div>
      </div>

      {% if shop.customer_accounts_enabled %}

        {% if customer %}
          <a class="account-options" href="/account"><span class="icon">a</span><label>{% comment %}ly_i18n_replace_for_[ 'general.account' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.account' | t }}{% endcapture %}{% include 'ly-static-string' with '9617138' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label></a>
        {% else %}
          <a class="account-options" href="/account/login">
            <span class="icon">a</span>{% comment %}ly_i18n_replace_for_[ 'layout.header.login' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.header.login' | t }}{% endcapture %}{% include 'ly-static-string' with '9617139' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
          </a>
        {% endif %}

      {% endif %}
    </div>
  </div>
</div>
