{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<nav class="compact
  {% if shop.customer_accounts_enabled %}account-enabled{% endif %}
  {% if settings.show-currency-switcher %}currency-enabled{% endif %}">
  <ul>
    <li
      class="nav-item dropdown first"
      aria-haspopup="true"
      aria-controls="main-header--mobile-nav"
      aria-expanded="false"
      aria-label="{% comment %}ly_code_replace_for_[ linklists[section.settings.menu].title ]_begin{% endcomment %}{% include 'ly-title' with linklists[section.settings.menu] %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}"
    >
      <span class="border"></span>
      <div><span class="icon">n</span></div>
    </li>

      {% if settings.show-currency-switcher %}
        <li class="nav-item currency">
          <div class="currency-switcher">
            <div class="selected-currency"></div><span class="drop-arrow"><</span>
            <select id="currencies" name="currencies">
              {% capture codes %},USD,EUR,GBP,CAD,ARS,AUD,BBD,BDT,BSD,BHD,BRL,BOB,BND,BGN,MMK,KYD,CLP,CNY,COP,CRC,HRK,CZK,DKK,DOP,XCD,EGP,XPF,FJD,GHS,GTQ,GYD,GEL,HKD,HUF,ISK,INR,IDR,NIS,JMD,JPY,JOD,KZT,KES,KWD,LVL,LTL,MXN,MYR,MUR,MDL,MAD,MNT,MZN,ANG,NZD,NGN,NOK,OMR,PKR,PYG,PEN,PHP,PLN,QAR,RON,RUB,SAR,RSD,SCR,SGD,SYP,ZAR,KRW,LKR,SEK,CHF,TWD,THB,TZS,TTD,TRY,UAH,AED,UYU,VEB,VND,ZMK,{% endcapture %}
              {% assign supported_codes = settings.currency-switcher-supported-currencies | escape | split: ' ' %}
              <option value="{{ shop.currency }}" selected="selected">{{ shop.currency }}</option>
              {% for code in supported_codes %}
                {% if code != shop.currency and codes contains code %}
                  <option value="{{ code }}">{{ code }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
        </li>
      {% endif %}
    {% comment %}
    <li class="nav-item ly">
      <select id="ly-languages-switcher" class="ly-languages-switcher ly-compact">
        {% for language in shop.metafields.languages %}{% assign key = language | first %}{% assign value = language | last %}{% if key != "default" %}<option value="{{ key }}">{{ value }}</option>{% endif %}{% endfor %}
      </select>
    </li>
    {% endcomment %}

    {% if shop.customer_accounts_enabled %}
      <li class="nav-item account">
        <a href="/account"><span class="icon">a</span></a>
      </li>
    {% endif %}

    <li class="nav-item cart">
      <a href="/cart">
        <div class="icon">
          {% if cartIcon == "cart" %}
            {% include 'icon' with 'cart' %}
          {% else %}
            {% include 'icon' with 'bag' %}
          {% endif %}
          <div
            class="
              count
              {% if cart.item_count == 0 %}count-empty{% endif %}
            "
          >
            <span class="count-value">{{ cart.item_count }}</span>
          </div>
        </div>
      </a>
    </li><li class="nav-item last search">
      <div><span class="icon">s</span></div>
    </li><li class="search-outer-wrap">
      <div class="search-wrap">
        <form action="/search" method="get">
          <input class="search-input" name="q" type="text" placeholder="{% comment %}ly_i18n_replace_for_[ 'general.search_placeholder' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.search_placeholder' | t }}{% endcapture %}{% include 'ly-static-string' with '9617127' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" value="">
          <span class="icon">s</span>
        </form>
      </div>
    </li>
  </ul>

  {% include 'header-mobile-dropdown' %}
</nav>
