{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% assign fitting_guide_icon = fitting_guide_icon | default: blank %}
{% assign fitting_guide_url = fitting_guide_url | default: blank %}
{% assign lazy_load = lazy_load | default: false %}
{% assign show_brand_names = show_brand_names | default: false %}
{% assign show_email_link = show_email_link | default: false %}
{% assign show_image_borders = show_image_borders | default: false %}
{% assign show_quantity = show_quantity | default: false %}
{% assign show_spb = show_spb | default: false %}
{% assign thumb_orientation = thumb_orientation | default: blank %}
{% assign use_fullsize_viewer = use_fullsize_viewer | default: false %}
{% assign use_image_zoom = use_image_zoom | default: false %}

{% assign selected_variant = product.selected_or_first_available_variant %}
{% assign is_default = product.has_only_default_variant %}

<section class="product-area clearfix">
  <div class="mobile-product-title">
    {% if show_brand_names %}
      <h3 class="brand">{% comment %}ly_code_replace_for_[ product.vendor ]_begin{% endcomment %}{% include 'ly-vendor' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</h3>
    {% endif %}

    <h2 class="title">{% comment %}ly_code_replace_for_[ product.title ]_begin{% endcomment %}{% include 'ly-title' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</h2>

    <p class="price sale">
      {% if selected_variant.compare_at_price > selected_variant.price %}
        <span class="original money">{{ selected_variant.compare_at_price | money }}</span>
      {% endif %}

      <span class="money">{{ selected_variant.price | money }}</span>
    </p>
    {% comment %}
    <div class="share-buttons">
      <div class="share-wrap twitter">
        <a
          href="https://twitter.com/share"
          class="twitter-share-button"
          data-count="none"
          data-text="{{ langify_shop_name }} | {% comment %}ly_code_replace_for_[ product.title ]_begin{% endcomment %}{% include 'ly-title' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}:"
          data-via="{{ settings.twitter-url | split: 'twitter.com/' | last }}"
        >
          <ly-as-9617202>Tweet</ly-as-9617202>
        </a>
      </div>

      <div class="share-wrap google">
        <div class="g-plusone" data-size="medium" data-annotation="none"></div>
      </div>

      <div class="share-wrap pinterest">
        <a href="//pinterest.com/pin/create/button/?url={{ shop.url }}{{ product.url }}&media={{ product.featured_image | product_img_url: 'original' }}&description={% comment %}ly_code_replace_for_[ product.title | escape ]_begin{% endcomment %}{% include 'ly-title' with product %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}" data-pin-do="buttonPin" data-pin-config="none"><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" /></a>
        <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
      </div>

      <div class="share-wrap facebook">
        <div
          class="fb-like"
          data-href="{{ shop.url }}{{ product.url }}"
          data-send="false"
          data-layout="button_count"
          data-action="like"
          data-size="small"
          data-show-faces="false"
          data-share="false"
        >
        </div>
      </div>
    </div>
    {% endcomment %}
  </div>

  <div class="showcase product-images">
    {% if thumb_orientation == 'list' %}
      {% for image in product.images %}
        <div
          class="
            container
            {% if product.images.size == 1 %}
              wide
            {% endif %}
          "
        >
          <div class="product-main-image wrap">
              <div class="image-list-item">
                {%
                  include 'rimg'
                  img: image,
                  size: '1024x1024',
                  lazy: lazy_load
                %}

                {% if show_image_borders %}
                  <span class="overlay"></span>
                {% endif %}
              </div>

            {% if use_image_zoom %}
              <div class="product-zoom"></div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    {% else %}
      <div
        class="
          container
          {% if product.images.size == 1 or thumb_orientation == 'below' %}
            wide
          {% endif %}
        "
      >
        <div class="product-main-image wrap">
          {% assign featured_image = selected_variant.image | default: product.featured_image %}

          {%
            include 'rimg'
            img: featured_image,
            size: '1024x1024',
            lazy: lazy_load
          %}

          {% if show_image_borders %}
            <span class="overlay"></span>
          {% endif %}

          {% if use_image_zoom %}
            <div class="product-zoom"></div>
          {% endif %}
        </div>
      </div>

      {% if product.images.size > 1 %}
        <div class="pager {% if thumb_orientation == 'below' %}below-main-image{% endif %}">
          <div class="inner">
            {% for image in product.images %}
              <div class="wrap thumb {% include 'for-looper' %} {% if forloop.first %}active{% endif %}">
                {% capture hi_res_attr %}
                  data-high-res-url="{{ image.src | product_img_url: 'original' }}"
                  data-image-id="{{ image.id }}"
                {% endcapture %}

                {%
                  include 'rimg'
                  img: image,
                  size: '100x100',
                  attr: hi_res_attr,
                  lazy: lazy_load
                %}

                <span class="overlay"></span>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endif %}

    {% if use_fullsize_viewer %}
      <div class="notes">
        <a
          href="#"
          class="toggle-fullview"
        >
          <span class="icon">l</span>
          {% comment %}ly_i18n_replace_for_[ 'products.product.view_fullsize_image' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.view_fullsize_image' | t }}{% endcapture %}{% include 'ly-static-string' with '9617203' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
        </a>
      </div>
    {% endif %}

    {% if show_email_link %}
      <div class="notes">
        <a
          href="mailto:{{ shop.email }}?Subject={% comment %}ly_code_replace_for_[ product.title | escape ]_begin{% endcomment %}{% include 'ly-title' with product %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}"
          class="email-us"
        >
          <span class="icon">j</span>
          {% comment %}ly_i18n_replace_for_[ 'products.product.email_us' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.email_us' | t }}{% endcapture %}{% include 'ly-static-string' with '9617204' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
        </a>
      </div>
    {% endif %}

    {% if fitting_guide_url != blank %}
      <div class="notes">
        <a
          href="{{ fitting_guide_url }}"
          class="fitting-guide"
        >
          <span class="icon">{{ fitting_guide_icon }}</span>
          {% comment %}ly_i18n_replace_for_[ 'products.product.fitting_guide' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.fitting_guide' | t }}{% endcapture %}{% include 'ly-static-string' with '9617205' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
        </a>
      </div>
    {% endif %}
  </div>

  <div class="product-details-wrapper">
    <div class="
        product-details
        {% if product.images.size > 1 %}
          border
        {% endif %}
        {% if is_default and show_quantity == false %}
          no-options
        {% endif %}
      "
    >
      <div class="module header">
        {% if show_brand_names %}
          <h3 class="brand">{% comment %}ly_code_replace_for_[ product.vendor ]_begin{% endcomment %}{% include 'ly-vendor' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</h3>
        {% endif %}

        <h1 class="title">{% comment %}ly_code_replace_for_[ product.title ]_begin{% endcomment %}{% include 'ly-title' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</h1>

        <p class="price sale">
          {% if selected_variant.compare_at_price > selected_variant.price %}
            <span class="original money">{{ selected_variant.compare_at_price | money }}</span>
          {% endif %}

          <span class="money">{{ selected_variant.price | money }}</span>
        </p>
      </div>
      {% comment %}
        <div class="module share-buttons">
          <div class="share-wrap twitter">
            <a
              href="https://twitter.com/share"
              class="twitter-share-button"
              data-count="none"
              data-text="{{ langify_shop_name }} | {% comment %}ly_code_replace_for_[ product.title ]_begin{% endcomment %}{% include 'ly-title' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}:"
              data-via="{{ settings.twitter-url | split: 'twitter.com/' | last }}"
            >
              <ly-as-9617202>Tweet</ly-as-9617202>
            </a>
          </div>

          <div class="share-wrap google">
            <div class="g-plusone" data-size="medium" data-annotation="none"></div>
          </div>

          <div class="share-wrap pinterest">
            <a href="//pinterest.com/pin/create/button/?url={{ shop.url }}{{ product.url }}&media={{ product.featured_image | product_img_url: 'original' }}&description={% comment %}ly_code_replace_for_[ product.title | escape ]_begin{% endcomment %}{% include 'ly-title' with product %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}" data-pin-do="buttonPin" data-pin-config="none"><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" /></a>
            <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
          </div>

          <div class="share-wrap facebook">
            <div
              class="fb-like"
              data-href="{{ shop.url }}{{ product.url }}"
              data-send="false"
              data-layout="button_count"
              data-action="like"
              data-size="small"
              data-show-faces="false"
              data-share="false"
            >
            </div>
          </div>
        </div>
        {% endcomment %}

      <div class="module options {% unless product.available %}unavailable{% endunless %}">
        {% assign form_id = product.id %}

        {% if product.available %}
          <div
            class="
              product-form
              {% if show_spb %}
                product-form-has-spb
              {% endif %}
              {% if selected_variant.available == false %}
                product-form-outofstock
              {% endif %}
            "
            data-product-form
          >
            {% form 'product', product, id: form_id %}
              {% unless is_default %}
                <div class="product-options">
                  {% include 'product-options-dropdown' %}

                  <div class="selector-wrapper no-js-required">
                    <label for="product-select-{{ form_id }}"></label>
                    <select
                      class="product-select"
                      name="id"
                      id="product-select-{{ form_id }}"
                      data-variants
                    >
                      {% for variant in product.variants %}
                        {% if variant.available %}
                          <option
                            {% if variant.id == selected_variant.id %}
                              selected="selected"
                            {% endif %}
                            value="{{ variant.id }}"
                            data-variant-id="{{ variant.id }}"
                          >
                            {% comment %}ly_code_replace_for_[ variant.title ]_begin{% endcomment %}{% include 'ly-title' with variant %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %} - {{ variant.price | money }}
                          </option>
                        {% else %}
                          <option
                            disabled="disabled"
                            value="{{ variant.id }}"
                            data-variant-id="{{ variant.id }}"
                          >
                            {% comment %}ly_code_replace_for_[ variant.title ]_begin{% endcomment %}{% include 'ly-title' with variant %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %} - {% comment %}ly_i18n_replace_for_[ 'products.product.sold_out' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.sold_out' | t }}{% endcapture %}{% include 'ly-static-string' with '9617206' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
                          </option>
                        {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                </div>
              {% else %}
                <input
                  class="product-select"
                  name="id"
                  value="{{ product.variants[0].id }}"
                  type="hidden"
                  data-variant-title="{% comment %}ly_code_replace_for_[ product.variants[0].title ]_begin{% endcomment %}{% include 'ly-title' with product.variants[0] %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}"
                />
              {% endunless %}

              <div id="infiniteoptions-container" class="side-labels"></div>
              <div id="uploadery-container" class="side-labels"></div>

              {% if show_quantity %}
                <div class="selector-wrapper quantity">
                  <label>{% comment %}ly_i18n_replace_for_[ 'general.quantity' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.quantity' | t }}{% endcapture %}{% include 'ly-static-string' with '9617207' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
                  <input
                    type="text"
                    class="product-quantity field"
                    name="quantity"
                    value="1"
                  >
                </div>
              {% else %}
                <input type="hidden" name="quantity" value="1">
              {% endif %}

              <div class="selector-wrapper product-submit-wrapper">
                <input
                  type="submit"
                  class="action-button submit"
                  value="{% comment %}ly_i18n_replace_for_[ 'products.product.add_to_cart' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.add_to_cart' | t }}{% endcapture %}{% include 'ly-static-string' with '9617208' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}"
                >
              </div>

              {% if show_spb %}
                {{ form | payment_button }}
              {% endif %}
            {% endform %}
          </div>
        {% else %}
          <div class="product-form unavailable">
            <span class="action-button unavailable disabled">{% comment %}ly_i18n_replace_for_[ 'products.product.sold_out' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.sold_out' | t }}{% endcapture %}{% include 'ly-static-string' with '9617206' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
          </div>
        {% endif %}
      </div>

      {% if product.description.size > 0 %}
      <div class="module description">
        <div class="rte">{% comment %}ly_code_replace_for_[ product.description ]_begin{% endcomment %}{% include 'ly-description' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</div>
      </div>
      {% endif %}

      {% if quickshop %}
        <a class="go-to-product" href="{{ product.url | within: collection }}">
          {% comment %}ly_i18n_replace_for_[ 'products.product.visit_page' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.visit_page' | t }}{% endcapture %}{% include 'ly-static-string' with '9617209' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}<span>→</span>
        </a>
      {% endif %}
    </div>
  </div>
</section>

{% if use_fullsize_viewer %}
  <section class="fullscreen-product-viewer">
    <div class="modal">
      <div class="modal-wrap">
        <span class="close">v</span>
        <div class="showcase {% if product.images.size == 1 %}wide{% endif %}">
          <div class="container">
            <div class="wrap">
              {%
                include 'rimg'
                img: product.featured_image,
                size: '1024x1024',
                lazy: lazy_load
              %}

              <span class="overlay"></span>
            </div>
          </div>
        </div>

        {% if product.images.size > 1 %}
        <div class="pager antiscroll-wrap">
          <div class="antiscroll-inner">
            {% for image in product.images %}
              <div class="wrap thumb {% include 'for-looper' %} {% if forloop.first %}active{% endif %}">
                {% capture thumb_attr %}
                  data-high-res-url="{{ image.src | product_img_url: 'original' }}"
                {% endcapture %}

                {%
                  include 'rimg'
                  img: image,
                  size: '100x100',
                  attr: thumb_attr,
                  lazy: lazy_load
                %}

                <span class="overlay"></span>
              </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </section>
{% endif %}
