{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{% if altProductCard %}
  {% capture cardType %}product-card-alt{% endcapture %}
{% endif %}

{% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
{% assign placeholder_style = 'product-' | append: current %}
{% assign color = settings.primary-border-colour %}
{% assign color_string = 'fill="' | append: color | append: '" xmlns' %}
{% capture demo_image %}{%- include 'placeholder_svg_uri', placeholder: placeholder_style, color_string: color_string -%}{% endcapture %}

<li class="product {% include 'for-looper' %} {% cycle 'flush', '', '', '' %}">
  <div class="product-inner {{ cardType }}">
    <figure style="background-image:url('{{ demo_image }}');" class="placeholder-background">
      {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}

      <a href="#" class="{% if imageBorders %}with-border{% endif %}"></a>

      {% if altProductCard %}
        <a class="centering-wrapper overlay" href="#">
          <span class="product-card-details-overlay">
            <h3 class="brand">{% comment %}ly_i18n_replace_for_[ 'onboarding.product_vendor' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'onboarding.product_vendor' | t }}{% endcapture %}{% include 'ly-static-string' with '9617193' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h3>
            <h2 class="title">{% comment %}ly_i18n_replace_for_[ 'onboarding.product_name' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'onboarding.product_name' | t }}{% endcapture %}{% include 'ly-static-string' with '9617194' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h2>
            <p class="price"><span class="money">{% comment %}ly_i18n_replace_for_[ 'onboarding.product_price' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'onboarding.product_price' | t }}{% endcapture %}{% include 'ly-static-string' with '9617195' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span></p>
          </span>
        </a>
      {% elsif enableQuickshop %}
        <div class="overlay">
          <span class="label">{% comment %}ly_i18n_replace_for_[ 'collections.collection.quick_shop' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collections.collection.quick_shop' | t }}{% endcapture %}{% include 'ly-static-string' with '9617196' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
        </div>
      {% endif %}
    </figure>

    <div class="product-card-details">
      <h3 class="brand">{% comment %}ly_i18n_replace_for_[ 'onboarding.product_vendor' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'onboarding.product_vendor' | t }}{% endcapture %}{% include 'ly-static-string' with '9617193' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h3>
      <h2 class="title"><a href="#">{% comment %}ly_i18n_replace_for_[ 'onboarding.product_name' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'onboarding.product_name' | t }}{% endcapture %}{% include 'ly-static-string' with '9617194' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a></h2>
      <p class="price"><span class="money">{% comment %}ly_i18n_replace_for_[ 'onboarding.product_price' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'onboarding.product_price' | t }}{% endcapture %}{% include 'ly-static-string' with '9617195' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span></p>
    </div>
  </div>
</li>
