{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{% for option in product.options_with_values %}
  {% assign option_index = forloop.index %}
  {%- capture option_id -%}
    <ly-as-9617200>single-option-</ly-as-9617200>{{ form_id }}-{{ option_index }}
  {%- endcapture -%}

  <div class="inline-field-wrapper js-required">
    <label for="{{ option_id }}">
      <strong>
        {{ option.name }}:
      </strong>
    </label>

    <div class="select-wrapper">
      <span data-selected-option></span>

      <select
        class="single-option-selector"
        id="{{ option_id }}"
        data-product-option="{{ 'option' | append: option_index }}"
      >
        {% for value in option.values %}
          <option
            value="{{ value | escape }}"
            {% if option.selected_value == value %}
              selected="selected"
            {% endif %}
          >
            {{ value }}
          </option>
        {% endfor %}
      </select>

    </div>
  </div>
{% endfor %}
