{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% comment %}
  <h2 class="sidebar-title">{% comment %}ly_i18n_replace_for_[ 'collections.listing.taglist' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collections.listing.taglist' | t }}{% endcapture %}{% include 'ly-static-string' with '9617285' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h2>
{% endcomment %}
<ul class="tags">


  <li class="tag show">
    <a href="/collections/{{ collection.handle }}/Tops"><ly-as-9790568>Tops</ly-as-9790568></a>
  </li>
  <li class="tag show">
    <a href="/collections/{{ collection.handle }}/Sweaters"><ly-as-9790569>Sweaters</ly-as-9790569></a>
  </li>
  <li class="tag show">
    <a href="/collections/{{ collection.handle }}/Dresses"><ly-as-9790570>Dresses</ly-as-9790570></a>
  </li>
  <li class="tag show">
    <a href="/collections/{{ collection.handle }}/Bottoms"><ly-as-9790571>Bottoms</ly-as-9790571></a>
  </li>
  <li class="tag show">
    <a href="/collections/{{ collection.handle }}/Cardigans"><ly-as-9790572>Cardigans</ly-as-9790572></a>
  </li>
  <li class="tag show">
    <a href="/collections/{{ collection.handle }}/Coats"><ly-as-9790573>Coats</ly-as-9790573></a>
  </li>
  <li class="tag show">
    <a href="/collections/{{ collection.handle }}/Accessories"><ly-as-9790574>Accessories</ly-as-9790574></a>
  </li>
</ul>
