{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% assign product = all_products[section.settings.product] %}
{% assign add_to_cart_text = 'products.product.add_to_cart' | t %}
{% assign enable_history = false %}

<script
  type="application/json"
  data-section-type="dynamic-product"
  data-section-id="{{ section.id }}"
  data-section-data
>
  {
    "product": {{ product | json }},
    "productSettings": {
      "addToCartText": {{ add_to_cart_text | json }},
      "enableHistory": {{ enable_history | json }},
      "imageZoom": {{ section.settings.image-zoom | json }},
      "linkedOptions": true,
      "soldOutText": {% comment %}ly_i18n_replace_for_[ 'products.product.sold_out' | t | json ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.sold_out' | t | json }}{% endcapture %}{% include 'ly-static-string' with '9617000' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape | json }}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %},
      "unavailableText": {% comment %}ly_i18n_replace_for_[ 'products.product.unavailable' | t | json ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.unavailable' | t | json }}{% endcapture %}{% include 'ly-static-string' with '9617001' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape | json }}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
    }
  }
</script>

<div class="template-product">
  {%- assign thumbOrientation = section.settings.thumb-orientation -%}
  {%- assign relatedProducts = false -%}
  {%- assign productQuantityOption = section.settings.product-quantity-option -%}
  {%- assign fullsizeProductViewer = section.settings.fullsize-product-viewer -%}
  {%- assign productEmailLink = section.settings.product-email-link -%}
  {%- assign showShareButtons = section.settings.social-sharing-buttons -%}
  {%- assign brandNames = settings.show-brand-names -%}
  {%- assign fittingGuide = section.settings.fitting-guide-link -%}
  {%- assign fittingGuideIcon = section.settings.fitting-guide-icon -%}
  {%- assign altProductCard = settings.alt-product-card -%}
  {%- assign imageBorders = settings.image-borders -%}
  {%- assign enableQuickshop = settings.enable-quick-shop -%}
  {%- assign selectedVariant = product.selected_or_first_available_variant | default: product -%}
  {%- assign has_variants = false -%}
  {%- unless product.has_only_default_variant -%}
    {%- assign has_variants = true %}
  {%- endunless -%}

  {%- capture productTitle -%}
    {% if product != blank %}
      {% comment %}ly_code_replace_for_[ product.title ]_begin{% endcomment %}{% include 'ly-title' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
    {% else %}
      {% comment %}ly_i18n_replace_for_[ 'onboarding.product_name' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'onboarding.product_name' | t }}{% endcapture %}{% include 'ly-static-string' with '9617002' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
    {% endif %}
  {%- endcapture -%}

  {%- capture productVendor -%}
    {% if product != blank %}
      {% comment %}ly_code_replace_for_[ product.vendor ]_begin{% endcomment %}{% include 'ly-vendor' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
    {% else %}
      {% comment %}ly_i18n_replace_for_[ 'onboarding.product_vendor' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'onboarding.product_vendor' | t }}{% endcapture %}{% include 'ly-static-string' with '9617003' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
    {% endif %}
  {%- endcapture -%}

  {%- capture compareAtPrice -%}
    {% if product != blank %}
      {{ product.selected_or_first_available_variant.compare_at_price }}
    {% else %}
      {% comment %}ly_i18n_replace_for_[ 'onboarding.product_cost' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'onboarding.product_cost' | t }}{% endcapture %}{% include 'ly-static-string' with '9617004' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
    {% endif %}
  {%- endcapture -%}

  {%- capture productPrice -%}
    {% if product != blank %}
      {{ product.selected_or_first_available_variant.price }}
    {% else %}
      {% comment %}ly_i18n_replace_for_[ 'onboarding.product_compare_price' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'onboarding.product_compare_price' | t }}{% endcapture %}{% include 'ly-static-string' with '9617005' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
    {% endif %}
  {%- endcapture -%}

  {%- capture productUrl -%}
    {% if product != blank %}
      {{ product.url }}
    {% else %}
      #
    {% endif %}
  {%- endcapture -%}

  <main class="content content-area">
    <section class="clearfix product-area" data-product-id="{{ product.id }}">
      <div class="mobile-product-title">
        {% if brandNames %}
          <h3 class="brand">{{ productVendor }}</h3>
        {% endif %}

        <h2 class="title">{{ productTitle }}</h2>

        <p class="price sale">
          {% if compareAtPrice > productPrice %}
            <span class="original money">{{ compareAtPrice | money }}</span>
          {% endif %}

          <span class="money">{{ productPrice | money }}</span>
        </p>
        {% comment %}
          <div
            class="
              share-buttons
              {% unless showShareButtons %}
                hide-share-buttons
              {% endunless %}
            "
          >

          
            <div class="share-wrap twitter">
              <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-text="{{ langify_shop_name }} | {{ productTitle }}:" data-via="{{ settings.twitter-url | split: 'twitter.com/' | last }}"><ly-as-9616999>Tweet</ly-as-9616999></a>
            </div>

            <div class="share-wrap google">
              <div class="g-plusone" data-size="medium" data-annotation="none"></div>
            </div>

            <div class="share-wrap pinterest">
              <a href="//pinterest.com/pin/create/button/?url={{ shop.url }}{{ productUrl }}&media={{ product.featured_image | product_img_url: 'original' }}&description={{ productTitle | escape }}" data-pin-do="buttonPin" data-pin-config="none"><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" /></a>
              <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
            </div>

            <div class="share-wrap facebook">
              <div class="fb-like" data-href="{{ shop.url }}{{ productUrl }}" data-send="false" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
            </div>
          </div>
        </div>
      {% endcomment %}
      <div class="featured-product-container">
        <div class="showcase product-images" data-thumb-orientation="{{ thumbOrientation }}">
          {% if thumbOrientation == 'list' %}
            {% if product.images != blank %}
              {% for image in product.images %}
                <div class="container {% if product.images.size == 1 %}wide{% endif %}">
                  <div class="product-main-image wrap">
                      <div class="image-list-item">
                        {%
                          include 'rimg'
                          img: image,
                          size: '1024x1024',
                          lazy: true
                        %}

                        {% if imageBorders %}
                          <span class="overlay"></span>
                        {% endif %}
                      </div>

                    {% if section.settings.image-zoom %}
                      <div class="product-zoom"></div>
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
            {% else %}
              <div class="container">
                <div class="product-main-image wrap">
                    <div class="image-list-item">
                      {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}

                      {% if imageBorders %}
                        <span class="overlay"></span>
                      {% endif %}
                    </div>

                  {% if section.settings.image-zoom %}
                    <div class="product-zoom"></div>
                  {% endif %}
                </div>
              </div>
            {% endif %}
          {% else %}
            <div class="container {% if product.images.size == 1 or thumbOrientation == 'below' %}wide{% endif %}">
              <div class="product-main-image wrap">
                {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}

                {% if product!= blank %}
                  {%
                    include 'rimg'
                    img: featured_image,
                    size: '1024x1024',
                    lazy: true
                  %}
                {% else %}
                  {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
                {% endif %}

                {% if imageBorders %}
                  <span class="overlay"></span>
                {% endif %}

                {% if section.settings.image-zoom %}
                  <div class="product-zoom"></div>
                {% endif %}
              </div>
            </div>

            {% if product.images.size > 1 %}
              <div class="pager {% if thumbOrientation == 'below' %}below-main-image{% endif %}">
                <div class="inner">
                  {% for image in product.images %}
                    <div class="wrap thumb {% include 'for-looper' %} {% if forloop.first %}active{% endif %}">
                      {% capture hi_res_attr %}
                        data-high-res-url="{{ image.src | product_img_url: 'original' }}"
                        data-image-id="{{ image.id }}"
                      {% endcapture %}

                      {%
                        include 'rimg'
                        img: image,
                        size: '100x100',
                        attr: hi_res_attr,
                        lazy: true
                      %}

                      <span class="overlay"></span>
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          {% endif %}

          {% if fullsizeProductViewer %}
            <div class="notes">
              <a href="#" class="toggle-fullview"><span class="icon">l</span>{% comment %}ly_i18n_replace_for_[ 'products.product.view_fullsize_image' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.view_fullsize_image' | t }}{% endcapture %}{% include 'ly-static-string' with '9617006' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
            </div>
          {% endif %}

          {% if productEmailLink %}
            <div class="notes">
              <a href="mailto:{{ shop.email }}?Subject={{ productTitle | escape }}" class="email-us"><span class="icon">j</span>{% comment %}ly_i18n_replace_for_[ 'products.product.email_us' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.email_us' | t }}{% endcapture %}{% include 'ly-static-string' with '9617007' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
            </div>
          {% endif %}

          {% if fittingGuide != blank %}
            <div class="notes">
              <a href="/pages/{{ fittingGuide }}" class="fitting-guide"><span class="icon">{{ fittingGuideIcon }}</span>{% comment %}ly_i18n_replace_for_[ 'products.product.fitting_guide' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.fitting_guide' | t }}{% endcapture %}{% include 'ly-static-string' with '9617008' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
            </div>
          {% endif %}
        </div>

        <div class="product-details-wrapper">
          <div class="product-details
            {% if product.images.size > 1 %}border{% endif %}
            {% if has_variants == false and productQuantityOption == false %}no-options{% endif %}"
          >

            <div class="module header">
              {% if brandNames %}
                <h3 class="brand">{{ productVendor }}</h3>
              {% endif %}

              <h1 class="title">{{ productTitle }}</h1>

                <p class="price sale">
                  {% if compareAtPrice > productPrice %}
                    <span class="original money">{{ compareAtPrice | money }}</span>
                  {% endif %}

                  <span class="money">{{ productPrice | money }}</span>
                </p>

            </div>

            {{ settings.section.social-sharing-buttons }}
            {% comment %}
              <div
                class="
                  module
                  share-buttons
                  {% unless showShareButtons %}
                    hide-share-buttons
                  {% endunless %}
                "
              >
                <div class="share-wrap twitter">
                  <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-text="{{ langify_shop_name }} | {{ productTitle }}:" data-via="{{ settings.twitter-url | split: 'twitter.com/' | last }}"><ly-as-9616999>Tweet</ly-as-9616999></a>
                </div>

                <div class="share-wrap google">
                  <div class="g-plusone" data-size="medium" data-annotation="none"></div>
                </div>

                <div class="share-wrap pinterest">
                  <a href="//pinterest.com/pin/create/button/?url={{ shop.url }}{{ productUrl }}&media={{ product.featured_image | product_img_url: 'original' }}&description={{ productTitle | escape }}" data-pin-do="buttonPin" data-pin-config="none"><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" /></a>
                  <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
                </div>

                <div class="share-wrap facebook">
                  <div class="fb-like" data-href="{{ shop.url }}{{ productUrl }}" data-send="false" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
                </div>
              </div>
            {% endcomment %}
            <div class="module options {% unless product.available %}unavailable{% endunless %}">

              {% if product != blank and product.available %}
                {% capture form_id %}{{ product.id }}-{{ section.id }}{% endcapture %}
                {% capture product_form_id %}product_form_{{ form_id }}{% endcapture %}

                <div
                  class="
                    product-form
                    {% if section.settings.show_spb %}product-form-has-spb{% endif %}
                    {% if product.selected_or_first_available_variant.available == false %}product-form-outofstock{% endif %}
                  "
                  data-product-form="{{ form_id }}"
                >
                  {% form 'product', product, id: product_form_id %}

                    {% if has_variants %}
                      <div class="product-options">
                        {% include 'product-options-dropdown' %}

                        <div class="selector-wrapper no-js-required">
                          <label for="product-select-{{ form_id }}"></label>
                          <select
                            class="product-select"
                            name="id"
                            id="product-select-{{ form_id }}">
                            {% for variant in product.variants %}
                              {% if variant.available %}
                                <option
                                  {% if variant.id == selectedVariant.id %}selected="selected"{% endif %}
                                  value="{{ variant.id }}" data-variant-id="{{ variant.id }}">
                                  {% comment %}ly_code_replace_for_[ variant.title ]_begin{% endcomment %}{% include 'ly-title' with variant %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %} - {{ variant.price | money }}
                                </option>
                              {% else %}
                                <option disabled="disabled" value="{{ variant.id }}" data-variant-id="{{ variant.id }}">
                                  {% comment %}ly_code_replace_for_[ variant.title ]_begin{% endcomment %}{% include 'ly-title' with variant %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %} - {% comment %}ly_i18n_replace_for_[ 'products.product.sold_out' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.sold_out' | t }}{% endcapture %}{% include 'ly-static-string' with '9617009' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
                                </option>
                              {% endif %}
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                    {% else %}
                      <input
                        class="product-select"
                        name="id"
                        value="{{ product.variants[0].id }}"
                        type="hidden"
                        data-variant-title="{% comment %}ly_code_replace_for_[ product.variants[0].title ]_begin{% endcomment %}{% include 'ly-title' with product.variants[0] %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}" />
                    {% endif %}

                    <div id="infiniteoptions-container" class="side-labels"></div>
                    <div id="uploadery-container" class="side-labels"></div>

                    {% if productQuantityOption %}
                      <div class="selector-wrapper quantity">
                        <label>{% comment %}ly_i18n_replace_for_[ 'general.quantity' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.quantity' | t }}{% endcapture %}{% include 'ly-static-string' with '9617010' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
                        <input type="text" class="product-quantity field" name="quantity" value="1">
                      </div>
                    {% else %}
                      <input type="hidden" name="quantity" value="1">
                    {% endif %}

                    <div class="selector-wrapper product-submit-wrapper">
                      <input type="submit" class="action-button submit" value="{% comment %}ly_i18n_replace_for_[ 'products.product.add_to_cart' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.add_to_cart' | t }}{% endcapture %}{% include 'ly-static-string' with '9617011' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">
                    </div>

                    {% if section.settings.show_spb %}
                      {{ form | payment_button }}
                    {% endif %}
                  {% endform %}
                </div>
              {% else %}
                <div class="product-form unavailable" id="product-form" data-product-form="{{ form_id }}">
                  <span class="action-button unavailable disabled">{% comment %}ly_i18n_replace_for_[ 'products.product.sold_out' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.sold_out' | t }}{% endcapture %}{% include 'ly-static-string' with '9617009' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
                </div>
              {% endif %}
            </div>

            <div class="module description">
              <div class="rte">
                <a class="go-to-product" href="{{ productUrl }}">{% comment %}ly_i18n_replace_for_[ 'products.product.visit_page' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.visit_page' | t }}{% endcapture %}{% include 'ly-static-string' with '9617012' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %} <span>→</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% if relatedProducts %}
      {% assign number_of_related_products_to_show = 4 %}
      {% assign image_size = 'medium' %}
      {% capture number_of_related_products_to_fetch %}{{ number_of_related_products_to_show | plus: 1 }}{% endcapture %}

      {% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
        {% assign found_a_collection = false %}
        {% for c in product.collections %}
          {% if found_a_collection == false and c.handle != 'frontpage' and c.handle != 'all' %}
            {% assign found_a_collection = true %}
            {% assign collection = c %}
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if collection.products.size > 1 %}
        <section class="related-products">
          <h2 class="section-title section-border">{% comment %}ly_i18n_replace_for_[ 'products.related_products.header' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.related_products.header' | t }}{% endcapture %}{% include 'ly-static-string' with '9617013' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h2>
          <ul class="product-list">
            {% assign current_product_found = false %}
            {% for prod in collection.products limit: number_of_related_products_to_fetch %}
              {% if prod.title == productTitle %}
                {% assign current_product_found = true %}
              {% else %}
                {% unless current_product_found == false and forloop.last %}
                  {% include 'product-item' %}
                {% endunless %}
              {% endif %}
            {% endfor %}
          </ul>
        </section>
      {% endif %}
    {% endif %}
  </main>

  {% if fullsizeProductViewer %}
    <section class="fullscreen-product-viewer">
      <div class="modal">
        <div class="modal-wrap">
          <span class="close">v</span>
          <div class="showcase {% if product.images.size == 1 %}wide{% endif %}">
            <div class="container">
              <div class="wrap">
                {%
                  include 'rimg'
                  img: product.featured_image,
                  size: '1024x1024',
                  lazy: true
                %}

                <span class="overlay"></span>
              </div>
            </div>
          </div>

          {% if product.images.size > 1 %}
          <div class="pager antiscroll-wrap">
            <div class="antiscroll-inner">
              {% for image in product.images %}
                <div class="wrap thumb {% include 'for-looper' %} {% if forloop.first %}active{% endif %}">
                  {% capture thumb_attr %}
                    data-high-res-url="{{ image.src | product_img_url: 'original' }}"
                  {% endcapture %}

                  {%
                    include 'rimg'
                    img: image,
                    size: '100x100',
                    attr: thumb_attr,
                    lazy: true
                  %}

                  <span class="overlay"></span>
                </div>
              {% endfor %}
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </section>
  {% endif %}

</div>

{% schema %}
{
  "name": "Featured product",
  "class": "featured-product",
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "checkbox",
      "id": "product-quantity-option",
      "label": "Show quantity selector",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "product-email-link",
      "label": "Show email link",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_spb",
      "label": "Show dynamic checkout button",
      "info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "social-sharing-buttons",
      "label": "Show social sharing buttons",
      "default": true
    },
    {
      "type": "header",
      "content": "Images"
    },
    {
      "type": "checkbox",
      "id": "image-zoom",
      "label": "Enable image zoom"
    },
    {
      "type": "checkbox",
      "id": "fullsize-product-viewer",
      "label": "Enable image lightbox link",
      "default": true
    },
    {
      "type": "select",
      "id": "thumb-orientation",
      "label": "Product thumbnail position",
      "options": [
        {
          "value": "right",
          "label": "Right of main image"
        },
        {
          "value": "below",
          "label": "Below main image"
        },
        {
          "value": "list",
          "label": "No thumbnails, display as list"
        }
      ]
    },
    {
      "type": "header",
      "content": "Fitting guide"
    },
    {
      "type": "page",
      "id": "fitting-guide-link",
      "label": "Page"
    },
    {
      "type": "select",
      "id": "fitting-guide-icon",
      "label": "Fitting guide icon",
      "options": [
        {
          "value": "k",
          "label": "Shirt"
        },
        {
          "value": "b",
          "label": "Ruler"
        },
        {
          "value": "d",
          "label": "Info"
        }
      ],
      "default": "k"
    }
  ],
  "presets": [
    {
      "category": "Product",
      "name": "Featured product"
    }
  ]
}

{% endschema %}