{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<div data-section-id="{{ section.id }}" data-section-type="static-page">

  {%- assign sidebarHeading = section.settings.title | escape -%}
  {%- assign sidebarContent = section.settings.content -%}

  {%- if sidebarHeading != blank or sidebarContent != blank -%}
    {%- assign hasSidebar = true -%}
  {%- else -%}
    {%- assign hasSidebar = false -%}
  {%- endif -%}

  <main class="content content-area">

    {% include 'breadcrumbs' %}
    {% comment %}
    <div class="page-title">
      <h1 class="label">{% comment %}ly_code_replace_for_[ page.title ]_begin{% endcomment %}{% include 'ly-title' with page %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</h1>
    </div>
    {% endcomment %}

    <div class="text-content-wrap clearfix">
      <div class="rte clearfix text-content {% if hasSidebar %}has-sidebar{% endif %}">
        {% comment %}ly_code_replace_for_[ page.content ]_begin{% endcomment %}{% include 'ly-content' with page %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
      </div>

      {% if hasSidebar %}
        <div class="sidebar rte">
          {% if sidebarHeading != blank %}
            <h2 class="title">{{ sidebarHeading }}</h2>
          {% endif %}

          {% if sidebarContent.size > 0 %}
            {{ sidebarContent }}
          {% endif %}
        </div>
      {% endif %}

    </div>

  </main>

</div>

{% schema %}
{
  "name": "Static pages",
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "checkbox",
      "id": "show-breadcrumbs",
      "label": "Show breadcrumbs",
      "default": true
    },
    {
      "type": "header",
      "content": "Sidebar"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "html",
      "id": "content",
      "label": "Content"
    }
  ]
}

{% endschema %}
